*{
    margin:0;
    padding: 0;
}


body{
    min-height: 100vh;
    background-color: #f5e8e8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav{
    background-color: rgb(253, 208, 219);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

nav li{
    height: 50px;
}


nav a{
    height: 100%;
    padding: 0 30px ;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(247, 99, 153);
}

nav a:hover{
    background-color: #ffacc5;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:999 ;
    background-color:rgb(249, 205, 205,0.2) ;
    backdrop-filter: blur(10px);
    box-shadow: -4px 0 8px #eea7ad;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;

}

.menu-button{
    display: none;
}

@media (max-width:800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

}

@media (max-width:400px) {
    .sidebar{
        width: 100%;
    }
}


.button{
    position: sticky;
    top: 35%;
}

.button1{
    background-color: #ffcdda;
    border: none;
    color: rgb(247, 99, 153);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: 3px 2px 12px  #e5a5b5, 0 1px 5px 0 #ffb6c5;
}

.button1:hover{
    background-color: #ffacc5;
}


.fresa{
    position: relative;
    bottom: 330px;
}

.nailz{
    position: relative;
    bottom: 380px;
    left: 250px;
}

.barmenu{
    position: relative;
    bottom: 200px;
    width: 150px;
    left: 180px;
}

.booking-form{
    position: absolute;
    top: 500px;
    background-color: #fabccb;
    border-radius: 20px;
    padding: 50px;
    width: 50%;
    box-shadow: 0 5px 30px #fceef4;
}

.booking-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: hsl(4, 100%, 95%);
    font-weight: 600;
    font-size: 200%;
}

.input-group{
    position:relative;
    margin-bottom: 20px;
}

.input-group input{
    width: 100%;
    padding: 15;
    border-radius: 10%;
    border-color: #fffaf9;
    box-shadow: 0 5px 20px #e4d9de;
    color: #707070;
}

.btn{
    background-color: #FBDFDD;
    border-radius: 20%;
    width: 50%;
    padding: 10;
    border-color: #e0abc0;
    box-shadow: 0 5px 20px #f3ccdd;
    color: #f778ab;
}



@media screen and (min-width: 900px) {
    .fresa {
        position: absolute;
        top: -3%;
        width: 30%;
        left: 35%;
    }

    .nailz {
        position: absolute;
        top: 25%;
        width: 15%;
        left: 41%; /* review if this is too much space reserved */
    }

    .barmenu{
        position: absolute;
        left: 90%;
        top: 35%;
       
    }
}