body {
   background-image: url(menuimg.png);
   background-repeat: no-repeat;
}

.logo{   
   position: absolute;
   top: -29px;
   left: -15px;
}
.logo2{
   position: absolute;
   top: 121px;
   left: 175px;
}








