body{
    background-image: url(galleryimg1.png);
    background-repeat: no-repeat;

}

.logogallery{ 
    position: absolute;
    top: 120px;
    left: 23px;
    width: 380px;
}

.button{
    position: absolute;
    top: 40%;
    left: 50%;
}

.button1{
    background-color: #FBDFDD;
    border: none;
    color: #f778ab;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 2px 12px  #ffffff, 0 1px 5px 0 #ff0033;
}

.button1:hover{
    background-color: #f5e8e8;
}

.gallery-nails{
    width: 800px;
    display: flex;
    overflow-x: scroll;
}

.gallery-nails div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px; 
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 100%;
}

.gallery-nails :: ::-webkit-scrollbar{
    display: none;
}

.gallery-nails-wrap{
    display: flex;
align-items: center;
justify-content: center;

}
