body{
    background-image: url(policy.png);
    background-repeat: no-repeat;
}

.policylogo{
    position: absolute;
    top: 100px;
    right: 70;
}

.info{
    position: absolute;
    bottom: -450px;
    right:40px;
}

.bookingPolicy{
    width: 300px;
    margin: auto;
    background-color: #FADAE0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    
}


.latePolicy{
    width: 300px;
    margin: auto;
    background-color: #FADAE0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    
}

.gracePolicy{
    width: 300px;
    margin: auto;
    background-color: #FADAE0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    
}