body{
    background-image: url(newpolicy2.png);
    background-repeat: no-repeat;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 136.5;
}

.policylogo{
    position: absolute;
    top: 100px;
    right: 70;
}

.button{
    position: absolute;
    right:4px;
    top: 35%;
}

.button1{
    background-color: #FBDFDD;
    border: none;
    color: #f778ab;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 2px 12px  #ffffff, 0 1px 5px 0 #ff0033;
}

.button1:hover{
    background-color: #f5e8e8;
}

.info{
    position: absolute;
    bottom: -950px;
    right:40px;
}

.bookingPolicy{
    width: 300px;
    margin: auto;
    background-color: #F4B4BB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-shadow: 0 3px 6px 0 #DCB8BF, 0 1px 5px 0 #DCB8BF;
    
}


.latePolicy{
    width: 300px;
    margin: auto;
    background-color: #F4B4BB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-shadow: 0 3px 6px 0 #DCB8BF, 0 1px 5px 0 #DCB8BF;

    
}

.gracePolicy{
    width: 300px;
    margin: auto;
    background-color: #F4B4BB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-shadow: 0 3px 6px 0 #DCB8BF, 0 1px 5px 0 #DCB8BF;
    
}

.reminderPolicy{
    width: 300px;
    margin: auto;
    background-color: #F4B4BB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-shadow: 0 3px 6px 0 #DCB8BF, 0 1px 5px 0 #DCB8BF;
}