body{
    background-image: url(newhome1.png);
    background-repeat: no-repeat;
}

.fresa{
    position: absolute;
    top: 10px;
    left: -21px;
    width: 450px;
}

.nailz{
    position: absolute;
    top: 230px;
    left: 200px; 
    width: 200px;
}

.button{
    position: absolute;
    right:4px;
    top: 35%;
}

.button1{
    background-color: #FBDFDD;
    border: none;
    color: #f778ab;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 2px 12px  #ffffff, 0 1px 5px 0 #ff0033;
}

.button1:hover{
    background-color: #f5e8e8;
}

