*{
    margin:0;
    padding: 0;

}


body{
    min-height: 100vh;
    background-color: rgb(255, 190, 190);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav{
    background-color: rgb(253, 208, 219);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}


nav a{
    height: 100%;
    padding: 0 30px ;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(238, 24, 103);
}

nav a:hover{
    background-color: #eea7ad;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:999 ;
    background-color:rgb(249, 205, 205,0.2) ;
    backdrop-filter: blur(10px);
    box-shadow: -4px 0 8px #eea7ad;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;

}

.menu-button{
    display: none;
}

@media (max-width:800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

}

@media (max-width:400px) {
    .sidebar{
        width: 100%;
    }
}


.button{
    position: absolute;
    top: 35%;
}

.button1{
    background-color: #FBDFDD;
    border: none;
    color: #f778ab;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 2px 12px  #ffffff, 0 1px 5px 0 #ff0033;
}

.button1:hover{
    background-color: #f5e8e8;
}

