body {
    background-image: url(galleryimg2.png);
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 25rem;
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 400px;
    margin-top: 5rem; 
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        rgba(201, 163, 163, 0),
        rgb(136, 81, 81) 20%,
        rgb(245, 207, 207)80%,
        rgba(0,0,0,0,),
    );
}

@keyframes scrollLeft {
    0% {
        left: 100%;
    }
    100% {
        left: -200px; /* Adjust according to item width */
    }
}

.item {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 20s; /* Total animation duration */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: 0s; /* 0 seconds delay */
}

.item2 {
    animation-delay: 7.5s; /* 2.5 seconds delay */
}

.item3 {
    animation-delay: 14s; /* 5 seconds delay */
}

.item4 {
    animation-delay:  28.5s; /* 7.5 seconds delay */
}

.item5 {
    animation-delay: 20s; /* 10 seconds delay */
}

.item6 {
    animation-delay: 12.5s; /* 12.5 seconds delay */
}

.item7 {
    animation-delay: 14.5s; /* 15 seconds delay */
}

.item8 {
    animation-delay: 18s; /* 17.5 seconds delay */
}