body {
    margin: 0;
    font-family: serif;
    background-color: #fde8e9;
    text-align: center;
}

nav {
    background-color: #ab95a4;
}

nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
}

/* nav ul li {
    margin: 40 15px;
}

nav ul li a:hover {
    background-color: #d1c9df;
}
    
*/
nav ul li a {
    color: rgb(27, 0, 0);
    text-decoration: none;
    padding: 0px 20px;
    display: block;
}


