body{
    background-color: #FAEADE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fresa{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 390px;
}

.nailz{
    position: absolute;
    top: 150px;
    left: 190px; 
    width: 150px;
}

.barmenu{
    position: absolute;
    top: 5px;
    left: 290px;
    width: 40px;
}

.booking-form{
    position: absolute;
    top: 300px;
    background-color: #F3AFCA;
    border-radius: 20px;
    padding: 50px;
    width: 50%;
    box-shadow: 0 5px 30px #e077a1;
}

.booking-form h2{
    margin-bottom: 20px;
    color: #f3327f;
    font-weight: 600;
    font-size: 200%;
}

.input-group{
    position:relative;
    margin-bottom: 20px;
}

.input-group input{
    width: 100%;
    padding: 15;
    border-radius: 10%;
    border-color: #f3327f;
    box-shadow: 0 5px 20px #fc94bd;
    color: #707070;
}




