body{
    background-image: url(galleryimg1.png);
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 25rem;
}

.wrapper{
    border: 1px solid black;
    /*width:90% ;*/
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 300px;
    margin-top: 5rem; 
    overflow: hidden;

}


@keyframes scrollLeft {
    to {
        left: -200px;
    }
}


.item {
    width: 200px;
    height: 200px;
    /*background-color: rgb(236, 152, 208);*/
    border-radius: 50px;
    position: absolute;
    left: 100%;
    animation-name: scrollLeft ;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -15s;
}

.item1{
    animation-delay: calc(20/4 *(4 - 1)* -1);
}

.item2{
    animation-delay:calc(20/4 *(4 - 2)) ;
}

.item3{
    animation-delay:calc(20/4 *(4 - 3)* -1) ;
}

.item4{
    animation-delay:calc(20/4 *(4 - 4)* -1) ;
}


/**
.logogallery{ 
    position: absolute;
    top: 120px;
    left: 23px;
    width: 380px;
}

.button{
    position: absolute;
    top: 40%;
    left: 50%;
}

.button1{
    background-color: #FBDFDD;
    border: none;
    color: #f778ab;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 2px 12px  #ffffff, 0 1px 5px 0 #ff0033;
}

.button1:hover{
    background-color: #f5e8e8;
}

.gallery-nails{
    width: 800px;
    display: flex;
    overflow-x: scroll;
}

.gallery-nails div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px; 
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 100%;
}

.gallery-nails :: ::-webkit-scrollbar{
    display: none;
}

.gallery-nails-wrap{
    display: flex;
align-items: center;
justify-content: center;

}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-width(300px, 1fr));
}

*/




