*{
    margin:0;
    padding: 0;
}


body{
    min-height: 100vh;
    background-color: #f8bfce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav{
    background-color: rgb(253, 208, 219);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

nav li{
    height: 50px;
}


nav a{
    height: 100%;
    padding: 0 30px ;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(247, 99, 153);
}

nav a:hover{
    background-color: #ffacc5;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:999 ;
    background-color:rgb(249, 205, 205,0.2) ;
    backdrop-filter: blur(10px);
    box-shadow: -4px 0 8px #eea7ad;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;

}

.menu-button{
    display: none;
}

@media (max-width:800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

}

@media (max-width:400px) {
    .sidebar{
        width: 100%;
    }
}

.booking-form{
    position: absolute;
    top: 150px;
    left: 10%;
    background-image: url(homeimg.png);
    background-size: contain;
    border-radius: 30px;
    padding: 30px;
    width: 30%;
    box-shadow: 0 5px 30px #fceef465;
}

.booking-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 244, 247);
    font-weight: 600;
    font-size: 200%;
}

.input-group{
    position:relative;
    margin-bottom: 20px;
}

.input-group input{
    width: 100%;
    padding: 15;
    border-radius: 15px;
    border-color: #fffaf9;
    box-shadow: 0 5px 20px #ee7e9f1a;
    color: #353333;
}

.btn{
    background-color: rgb(255, 244, 247);
    border-radius: 20px;
    width: 50%;
    padding: 10;
    border-color: #e0abc0;
    box-shadow: 0 5px 20px #f3ccdd7e;
    color: #e7317a;
}

