body {
    background-image: url(galleryimg2.png);
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 25rem;
}

.logogallery{ 
    position: absolute;
    top: 120px;
    left: 2px;
    width: 440px;
}


@keyframes slide {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    white-space: nowrap; 
    padding: 600px 0 ;
    
}

.logos-slide{
    display:inline-block ;
    animation: 10s slide infinite linear;
}

.button{
    position: absolute;
    top: 40%;
    left: 50%;
}

.button1{
    background-color: #FBDFDD;
    border: none;
    color: #f778ab;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 2px 12px  #ffffff, 0 1px 5px 0 #ff0033;
}

.button1:hover{
    background-color: #f5e8e8;
}


@media screen and (min-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }

    img-wrapper {
        position:relative ;
        overflow: hidden;
        
    }

    .img-wrapper > img {
        display: block;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;

    }

    .img-wrapper > .content {
        position: absolute;
        inset: 0;
        font-size: 2rem;
        padding: 1rem;
        background:  rgba(255,255,255,.4);
        display: flex;
        justify-content: center;
    }



}